// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core;


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$boilera-primary: mat.define-palette(mat.$indigo-palette);
$boilera-accent: mat.define-palette(mat.$pink-palette, a200, a100, a400);

// The warn palette is optional (defaults to red).
$boilera-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$boilera-theme: mat.define-light-theme(
    (
        color: (
            primary: $boilera-primary,
            accent: $boilera-accent,
            warn: $boilera-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($boilera-theme);


/*
Design System

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

White spaces (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

// VARIABLES
:root {
    --color-gray-100: hsl(0deg 0% 100%);
    --color-gray-98: hsl(0deg 0% 98%);
    --color-gray-90: hsl(0deg 0% 90%);
    --color-gray-80: hsl(0deg 0% 80%);
    --color-gray-70: hsl(0deg 0% 70%);
    --color-gray-40: hsl(0deg 0% 40%);
    --color-gray-30: hsl(0deg 0% 30%);
    --color-gray-20: hsl(0deg 0% 20%);
    --color-gray-10: hsl(0deg 0% 10%);

    --color-primary-darker: hsl(0deg 0% 5%);
    --color-primary-dark: hsl(0deg 0% 9%);
    --color-primary-normal: hsl(0deg 0% 13%);
    --color-primary-light: hsl(0deg 0% 17%);
    --color-primary-lighter: hsl(0deg 0% 21%);

    --color-accent-darker: hsl(0deg 0% 84%);
    --color-accent-dark: hsl(0deg 0% 88%);
    --color-accent-normal: hsl(0deg 0% 92%);
    --color-accent-light: hsl(0deg 0% 96%);
    --color-accent-lighter: hsl(0deg 0% 100%);

    --color-tertiary-blue: hsl(196deg, 93%, 47%);
    --color-tertiary-green: hsl(153deg, 91%, 56%);

    --color-csv-format: hsl(205deg 100% 45%);
    --color-xls-format: hsl(110deg 100% 35%);
    --color-json-format: hsl(40deg 100% 45%);

    --success-color: hsl(123deg 38% 57%);
    --warning-color: var(--tertiary-color-light);
    --error-color: hsl(4deg 90% 58%);
    --error-color-dark: hsl(4deg 90% 50%);

    --font-size-primary-heading: 3.6rem;
    --font-size-secondary-heading: 3rem;
    --font-size-tertiary-heading: 2.4rem;
    --font-size-paragraph: 2rem;
    --font-size-med-paragraph: 1.5rem;
    --font-size-sub-paragraph: 1rem;

    --border-radius-small: 0.4rem;
    --border-radius-normal: 0.8rem;
    --border-radius-big: 1.2rem;

    --animation-duration-fast: 0.1s;
    --animation-duration-normal: 0.5s;
    --animation-duration-slow: 1s;

    --flex-gap-large: 1rem;
    --flex-gap-medium: 0.5rem;
    --flex-gap-small: 0.1rem;

    --padding-large: 4rem;
    --padding-medium: 2rem;
    --padding-small: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;

    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

::selection {
    background-color: var(--color-primary-normal);
    color: var(--color-accent-normal);

    a {
        background-color: var(--color-tertiary-green);
        color: var(--color-accent-normal);
    }
}

body {
    background-color: var(--color-accent-normal);
    color: var(--color-gray-20);

    min-block-size: 100vh;

    margin: 0;

    font-family: Vazirmatn, Roboto, "Helvetica Neue", sans-serif;

    line-height: 1;

    background-image: radial-gradient(rgba(33, 33, 33, 0.5) 1.5px, transparent 1.5px);
    background-size: 60px 60px;
    // background-color: rgba(0, 0, 0, 0);

    h1,
    h2,
    h3 {
        margin: 0;
    }

    h1 {
        font-size: var(--font-size-primary-heading);
    }

    h2 {
        font-size: var(--font-size-secondary-heading);
    }

    h3 {
        font-size: var(--font-size-tertiary-heading);
    }

    p {
        font-size: var(--font-size-paragraph);
    }

    button {
        background-color: transparent;

        display: inline-flex;
        align-items: center;

        border: none;
        border-radius: var(--border-radius-small);

        outline: none;

        cursor: pointer;

        &:disabled {
            opacity: 0.6;

            cursor: not-allowed;
        }
    }

    .border-element {
        padding-inline: 1.2rem;

        border-radius: 999rem;
    }

    .csv {
        color: var(--color-csv-format);

        & .border-element {
            border: 1px solid var(--color-csv-format);
        }
    }

    .xls {
        color: var(--color-xls-format);

        & .border-element {
            border: 1px solid var(--color-xls-format);
        }
    }

    .json {
        color: var(--color-json-format);

        & .border-element {
            border: 1px solid var(--color-json-format);
        }
    }

    .global-button {
        background-color: var(--color-primary-normal);
        color: var(--color-accent-normal);

        &:hover {
            background-color: var(--color-primary-light);
        }
    }

    a.primary-button {
        font-weight: 400;
        font-size: 1.6rem;
        text-decoration: none;

        padding: 1.2rem 3.6rem;

        background-color: var(--color-primary-normal);
        color: var(--color-accent-normal);
        transition: transform 200ms ease-in;

        &:hover {
            background-color: var(--color-primary-light);
            transform: translateY(-0.3rem);
        }
    }

    a {
        text-decoration: none;
    }

    a.icon-link:active, a.icon-link:visited {
        color: var(--color-primary-normal)
    }

    a.secondary-button {
        font-weight: 700;
        font-size: 1.6rem;
        text-decoration: none;

        padding: 1.2rem 3.6rem;

        border: 2px solid var(--color-primary-normal);
        background-color: var(--color-accent-normal);
        color: var(--color-primary-normal-normal);
        transition: transform 200ms ease-in;

        &:hover {
            transform: translateY(-0.3rem);
        }
    }

    .global-button-reverse {
        background-color: var(--color-primary-lighter);
        color: var(--color-gray-10);

        border-color: var(--color-primary-normal);
        border-style: solid;
        border-width: 2px;
    }

    //snackbar types styles
    .snackbar-warning {
        color: var(--error-color);
    }

    .snackbar-info {
        color: var(--warning-color);
    }

    .snackbar-success {
        color: var(--success-color);
    }

    .snackbar {
        background-color: var(--color-accent-lightest);
        box-shadow: hsl(0deg 0% 0% / 16%) 0 10px 36px 0, hsl(0deg 0% 0% / 6%) 0 0 0 1px;

        margin-block-start: 7rem;
        padding: var(--padding-medium);

        font-size: var(--font-size-secondary-heading) !important;
        font-weight: bold;

        .mat-button-wrapper {
            color: var(--color-gray-10);

            font-size: var(--font-size-paragraph);
        }
    }

    .mat-simple-snackbar {
        font-size: var(--font-size-paragraph);

        line-height: 2.5rem;
    }
}

html,
body {
    height: 100%;
}

main {
    position: relative;
}