.list-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2rem;

    height: 60rem;

    .actions {
        position: absolute;

        inset-inline-end: -5rem;
        inset-block-end: 0;

        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        button {
            font-size: 1.8rem;

            border-radius: var(--border-radius-small);
            display: grid;
            place-items: center;

            width: 4rem;
            height: 4rem;
            padding: 0rem;

            i {
                color: var(--color-primary-normal);
            }

            &.delete:hover {
                background-image: linear-gradient(to top right, var(--error-color-dark), var(--error-color));

                i {
                    color: var(--color-accent-normal);
                }
            }

            &:hover:not(.delete) {
                background-image: linear-gradient(
                    to top right,
                    var(--color-tertiary-green),
                    var(--color-tertiary-blue)
                );
                & > * {
                    filter: brightness(100);
                }
            }
        }
    }
}
