<!--<main #designer class="designer" (mousemove)="dragGeneralHandler($event)" (mouseup)="freeDragHandler()">-->
<main #designer class="designer">
    <div class="designer__header">
        <button
                class="canvas-circle"
                (click)="removeNode()"
                k
                [disabled]="!isNodeSelectedForDeleteBtn"
        >
            <i class="far fa-square-minus"></i>
        </button>
        <button
            class="canvas-circle"
            (click)="openAddProcessorModal()" k
            [disabled]="!isNodeSelectedForStartBtn">
            <i class="far fa-square-plus"></i>
        </button>
        <button class="canvas-run" (click)="runProcess()" k><i class="fas fa-play"></i></button>
        <button class="canvas-circle" (click)="openSampleModal()" k [disabled]="!isSourceSelected">
            <i class="far fa-eye"></i>
        </button>
    </div>

    <div #canvas class="designer__canvas">
        <app-canvas-diagram (click)="checkSelectedNode()"></app-canvas-diagram>
    </div>

    <!--    <div #sample class="designer__sample">-->
    <!--        <button class="collapse-button" (click)="collapseDownSample()">-->
    <!--            <i *ngIf="!sample.classList.contains('closed')" class="fa-solid fa-chevron-down"></i>-->
    <!--            <i *ngIf="sample.classList.contains('closed')" class="fa-solid fa-chevron-up"></i>-->
    <!--        </button>-->
    <!--        <div #dragV class="drag-v" (mousedown)="dragVHandler($event)"></div>-->
    <!--    </div>-->

    <aside #side class="designer__side">
        <button class="collapse-button" (click)="sidebarCollapseService.collapse()">
            <i #rightArrow class=" show"></i>
            <i #leftArrow class="fa-solid fa-chevron-left hide"></i>
        </button>
        <div class="content">
           <app-processor-configs [selectedProcessor]="selectedProcessor"></app-processor-configs>
        </div>
        <!--        <div #dragH class="drag-h" (mousedown)="dragHHandler($event)"></div>-->
    </aside>
</main>
