<header>
    <nav class="navbar">
        <span class="logo-container">
            <a routerLink="#">
                <img src="" alt="نشان تجاری داده‌آرا" title="داده‌آرا" />
            </a>
        </span>
        <span class="select-env-container">
            <button mat-menu-item [matMenuTriggerFor]="menu" aria-label=" محیط کار">
                <i class="fa-regular fa-chevron-down"></i>
                <span>انتخاب محیط کار</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="currentEnvTitle = 'فهرست دادگان‌ها'">
                    <i class="fa-regular fa-database"></i>
                    <span>فهرست دادگان‌ها</span>
                </button>
                <button mat-menu-item (click)="currentEnvTitle = 'مدیریت پایپلاین‌ها'">
                    <i class="fa-regular fa-timeline-arrow"></i>
                    <span>مدیریت پایپلاین‌ها</span>
                </button>
            </mat-menu>
        </span>
        <span class="env-title">
            {{ currentEnvTitle }}
        </span>
        <span class="help-container">
            <button mat-icon-button title="سوالات متداول">
            <i class="fa-regular fa-messages-question"></i>
                </button>
        </span>
    </nav>
</header>
