header {
    .navbar {
        background-color: var(--color-primary-blue-50);

        display: flex;
        align-items: center;
        gap: var(--flex-gap-large);

        font-size: var(--font-size-tertiary-heading);

        span {
            padding: var(--padding-medium);
        }

        .logo-container {
            inline-size: 15rem;

            font-size: var(--font-size-sub-paragraph);
        }

        .select-env-container {
            inline-size: 15rem;

            .option{
                background-color: aqua;
            }
        }



        .help-container {
            margin-inline-start: auto;

            button {
                font-size: var(--font-size-tertiary-heading);

                > * {
                    block-size: 3rem;
                    inline-size: 3rem;

                    padding: var(--padding-small);
                }
            }
        }
    }
}
