header {
    height: 100%;

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: var(--flex-gap-large);

        block-size: 100%;
        inline-size: 4rem;

        padding: var(--padding-small);

        font-size: var(--font-size-med-paragraph);

        .icon {
            font-size: 3rem;
        }

        .small-container {
            display: grid;
            place-items: center;

            width: 5rem;
            height: 5rem;

            border-radius: var(--border-radius-small);

            &:hover {
                background-image: linear-gradient(
                    to top right,
                    var(--color-tertiary-green),
                    var(--color-tertiary-blue)
                );

                & > * {
                    filter: brightness(100);
                }
            }

            .text-icon {
                font-size: 1.6rem;
                font-weight: 900;
            }

            img {
                display: inline-block;

                width: 3rem;
                height: 3rem;
            }
        }
    }
}
