.grid {
    display: grid;
    grid-template-columns: 7rem 1fr;
    justify-items: center;

    min-height: 100%;

    main {
        grid-column: 1 / 3;
        grid-row: 1 / 2;

        width: 100%;

        router-outlet {
            width: 100%;
        }
    }

    app-header {
        position: relative;
        z-index: 50;

        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}
