<div class="list-wrapper">
    <div class="actions">
        <button title="download selected" (click)="openAddPipelineModal()"><i class="fas fa-add"></i></button>
        <button title="delete selected" class="delete" (click)="onRemoveSelected()">
            <i class="fas fa-trash-can"></i>
        </button>
    </div>

    <ag-grid-angular
        style="height: 100%; width: 100%"
        class="ag-theme-material"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData$"
        [animateRows]="true"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"
        [paginationAutoPageSize]="true"
        [pagination]="true"
        [rowMultiSelectWithClick]="false"
    ></ag-grid-angular>
</div>
