.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2rem;

    height: 50rem;

    .actions {
        display: flex;
        gap: 1.2rem;

        inline-size: 100%;

        h2 {
            margin: 0;
            margin-inline-end: auto;

            font-size: var(--font-size-secondary-heading);
        }

        button {
            background-color: var(--color-gray-90);

            i {
                color: var(--color-primary-normal);
            }

            &:hover {
                .delete-icon {
                    color: var(--error-color);
                }

                i {
                    color: var(--color-accent-normal);
                }
            }
        }
    }
}
