.wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    padding-inline: 15rem;
    padding-block: 20rem;



    .hero-image {
        padding: 5rem;
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 3.6rem;

        .logo-box {
            display: flex;
            gap: 2.4rem;
            align-items: center;

            img {
                width: 4rem;
                height: 4rem;
                border-radius: var(--border-radius-small);
            }

            h2 {
                margin: 0;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                letter-spacing: 20px;
            }
        }

        .cta {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4.8rem;

            .buttons {
                display: flex;
                gap: 2.4rem;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;

                .slogan {
                    margin: 0;

                    font-family: 'Raleway', sans-serif;
                    font-weight: 900;
                    font-size: 6.4rem;
                    line-height: 1;

                    width: 80rem;
                }

                p {
                    width: 80rem;
                    font-weight: 700;
                }
            }
        }
    }
}