.wrapper {
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    gap: 2.4rem;

    width: 100%;

    padding-block-start: 15rem;
    padding-inline: 15rem;

    .hero-image {
        padding: 5rem;

        img {
            width: 100%;
            aspect-ratio: auto;
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 3.6rem;

        .logo-box {
            display: flex;
            align-items: center;
            gap: 2.4rem;

            img {
                width: 4rem;
                height: 4rem;

                border-radius: var(--border-radius-small);
            }

            h2 {
                margin: 0;

                font-family: Raleway, sans-serif;
                font-weight: 700;

                letter-spacing: 20px;
            }
        }

        .cta {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4.8rem;

            .buttons {
                display: flex;
                gap: 2.4rem;

                a {
                    display: inline-block;

                    line-height: 1;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;

                .slogan {
                    margin: 0;

                    font-family: Raleway, sans-serif;
                    font-size: 6.4rem;
                    font-weight: 900;

                    line-height: 1;
                }

                p {
                    font-weight: 700;
                }
            }
        }
    }
}
