<form class="dnd-container" appDndEvents (fileDropped)="onFileDropped($event)" enctype="multipart/form-data" #formRef>
    <input
        class="file-input"
        type="file"
        #fileDropRef
        id="fileDropRef"
        (change)="fileBrowseHandler($event.target)"
        accept=".csv"
    />
    <div class="info">
        <div class="title">
            <i class="fas fa-file-arrow-up"></i>
            <h3>UPLOAD ZONE</h3>
        </div>
        <div class="text">
            <span>Either Drag and Drop File or</span>
            <label for="fileDropRef">Select from File Manager</label>
        </div>
    </div>
</form>
