.dnd-container {
    position: relative;

    text-align: center;

    border: 0.2rem solid var(--color-primary-normal);
    background-color: var(--color-accent-normal);

    display: grid;
    place-items: center;

    inline-size: 100%;
    block-size: 100%;
    cursor: pointer;

    padding: 3.2rem;

    .info {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
        align-items: center;
        justify-content: center;

        .title {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            i {
                font-size: 4.4rem;
            }

            h3 {
                font-family: Raleway, sans-serif;
                font-weight: 900;
                font-size: 3rem;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            font-size: 1.8rem;

            span {
                font-weight: 700;
            }
        }
    }

    .file-input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        inset: 0;

        cursor: pointer;
    }

    span {
        display: block;
    }

    label {
        display: inline-block;

        background-color: var(--color-primary-normal);
        color: var(--color-accent-normal);

        padding: 1.2rem 3.6rem;
    }

    &:hover {
        opacity: 1;
        background: var(--color-accent-normal)
            repeating-linear-gradient(
                45deg,
                #e0e3eb,
                #e0e3eb 2px,
                rgba(229, 229, 247, 0) 2px,
                rgba(229, 229, 247, 0) 10px
            );
    }
}
