.dnd-container {
    position: relative;

    text-align: center;

    border: 0.1rem dashed var(--color-gray-40);
    border-radius: var(--border-radius-small);

    inline-size: 100%;
    block-size: 100%;
    cursor: pointer;

    padding: 3.2rem;

    .info {
        display: flex;
        gap: 1.2rem;
        align-items: center;
        justify-content: center;
    }

    .file-input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        inset: 0;

        cursor: pointer;
    }

    span {
        display: block;
    }

    label {
        display: inline-block;

        background-color: var(--color-primary-normal);
        color: var(--color-gray-90);

        padding: 0.5rem 1rem;
        border-radius: var(--border-radius-small);
    }
    &.file-over {
        opacity: 1;
        background: rgba(229, 229, 247, 0)
            repeating-linear-gradient(
                45deg,
                #e0e3eb,
                #e0e3eb 2px,
                rgba(229, 229, 247, 0) 2px,
                rgba(229, 229, 247, 0) 10px
            );
    }
}
