.wrapper {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;

    inline-size: 100rem;

    margin-inline: auto;
    padding-block-start: 6.4rem;

    .header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        a {
        }

        .text {
            width: 70%;

            h1 {
                font-family: Raleway, sans-serif;
                font-size: 4.8rem;
                font-weight: 900;
            }

            p {
                width: 80%;

                margin: 0;

                font-family: Raleway, sans-serif;
                font-size: var(--font-size-tertiary-heading);
                font-weight: 700;

                line-height: 1.2;
            }
        }
    }
}
