<main class="input-component">
    <h4>{{ inputTitle }}</h4>
    <mat-form-field appearance="fill">
        <mat-label>{{ inputPlaceHolder }}</mat-label>
        <mat-select
            #matSelect
            [required]="inputRequired === 'true'"
            [multiple]="inputMultiple === 'true'"
            (selectionChange)="update(matSelect.value)"
            [value]="inputValue"
        >
            <mat-option *ngFor="let option of inputOptions.split(',')" [value]="option"> {{ option }} </mat-option>
        </mat-select>
    </mat-form-field>
</main>
