<main class="configs">
    <header class="configs__header">
        <h2 class="configs__header--name">{{ processorName }}</h2>
        <h3 class="configs__header--type">{{ processorType }}</h3>
    </header>
    <div class="configs__body">
        <app-config-select [inputTitle]="processorType"></app-config-select>

        <app-config-toggle></app-config-toggle>

        <app-config-input></app-config-input>

        <app-config-number-input></app-config-number-input>

        <app-config-mode-toggle></app-config-mode-toggle>

        <app-config-checklist></app-config-checklist>
    </div>
    <div class="configs__buttons">
        <button class="global-button-reverse reset-button" [disabled]="!hasChanged">Reset</button>
        <button class="global-button save-button" [disabled]="!hasChanged">Save</button>
    </div>
</main>
